<div class="blog card">
	<h2>{{blog.title}}</h2>
			<p>Created: {{blog.createdAt}}</p>
			<p>{{blog.text}} </p>
			{{!-- todo format_date --}}
			<p>Created By: {{blog.user.username}}</p>

	<button><a href="/comments">Comment on this</a></button>
	{{#if blog.comments}}
				{{#each blog.comments as |comment|}}
					<p>{{comment.comment}}</p>
					<p>Created: {{comment.createdAt}}</p>
					<p>Created By: {{comment.user.username}}</p>
				{{/each}}
			{{/if}}
	{{#if user}}
		{{#if user.isAdmin}}
			<button class="delete">Delete</button>
		{{/if}}
		</div>
	{{/if}}

</div>