<div class="blog card">
	<h2>{{blog.title}}</h2>
	<p>Created: <em> {{format_date blog.createdAt}} </em></p>
	{{!-- smaller and italicized --}}
	<p>{{blog.text}} </p>
	<p>Created By:{{blog.user.username}}</p>
	{{!-- <div class="accordion-container"> --}}
		{{#if blog.comments.length}}
			<h2>Comments</h2>
			{{!-- <div class="accordion-body"> --}}

				{{#each blog.comments as |comment|}}
					<div>
					<p>{{comment.comment}}</p>
					<footer>Created: {{format_date createdAt}} Created By: {{user.username}}</footer>
					</div>
				{{!-- {{#if owner}} --}}
				{{!-- todo create util for owner --}}
					<button class="delete"><a href="/comment/{{id}}/delete"> Delete </a></button>
				{{!-- {{/if}} --}}
				{{/each}}
			{{/if}}

			<div>
				{{!-- button to open form/input? --}}
			<form action="/api/blogs/{{blog.blog_id}}/comment" method="POST">
				<input type="text" name="comment" placeholder="leave your comment here" required>
				{{!--  change prompt when empty --}}
				{{#if logged_in}}
				<button type="submit">Submit Comment</button>
				{{else}}
				<button type="button" id="c-login-btn">Submit Comment</button>
				{{/if}}
				<button>Clear</button>
				{{!-- event listener to clear input --}}
			</form>
			</div>
		</div>
	</div>
</div>
<script src="/js/commentLogin.js"></script>