<div class="blog card">
	<h2>{{title}}</h2>
	<p>Created: <em> {{format_date createdAt}} </em></p>
	{{!-- smaller and italicized --}}
	<p>{{text}} </p>
	<p>Created By:{{username}}</p>
	<div class="accordion-container">
		<h2>Comments</h2>
		<div class="accordion-body">

			{{#if comments}}
				{{#each comments as |comment|}}
					<div>
					<p>{{comment}}</p>
					<footer>Created: {{format_date createdAt}} Created By: {{user.username}}</footer>
					</div>
				{{/each}}
			{{/if}}
			{{#if logged_in}}
				<button class="delete">Delete</button>
			{{/if}}
			{{/if}}

			<div>
			<form action="/{{id}}/comment">
				<input type="text" name="comment" placeholder="leave your comment here">
				<button data-set-id="{{id}}">Submit Comment</button>
				<button>Clear</button>
				{{!-- event listener to clear input --}}
			</form>
			</div>
		</div>
	</div>
</div>