
<h1>Welcome to Your Dashboard</h1>
{{!-- ?do not need this --}}
<h2>Your Blogs</h2>
{{#if blogs.length}}
<div class="m-3 md:m-10 flex flex-col justify-center bg-neutral-300">
{{#each blogs as |blog|}}
	<div class="flex flex-col ">
		<div class="mx-3 my-5 md:mx-10 space-y-5">
			<div class="flex flex-col items-center justify-between -my-6 mx-10 md:-my-7 p-2 px-3 bg-neutral-600 md:flex-row">
				<a href="api/blogs/{{blog_id}}" class="text-md font-bold text-center text-white md:text-left md:text-lg lg:text-xl" >{{title}}</a>
				<div class="flex space-x-2 px-3">
					<p class="text-center text-xs text-neutral-300 md:text-sm">{{user.username}}</p>
					<p class="text-center text-xs text-neutral-300  md:text-smfont-bold">|</p>
					<p class="text-center text-xs text-neutral-300 md:text-sm">{{format_date createdAt}}</p>
				</div>
			</div>
			<div class="bg-white h-12">
				<p class=" p-3 truncate text-sm md:text-sm">{{text}} </p>
			</div>	
		</div>

		<div class="flex justify-end">
			<button type="button" id="edit-blog-btn" class="font-bold m-2 py-2 px-4 bg-neutral-400 text-white hover:text-neutral-950" data-blog-id="{{blog_id}}" >Edit</button>
			<button type="submit" id="delete-blog-btn" class="font-bold m-2 py-2 px-4 bg-neutral-600 text-white hover:text-neutral-950" data-blog-id="{{blog_id}}" >Delete</button>
		</div>
	</div>
{{/each}}
</div>


{{else}}
	<p>No blogs found.</p>
{{/if}}

{{#if logged_in}}
<button type="button" id="new-blog-btn">Write New Blog</button>

<script src="/js/deleteBlog.js"></script>
{{/if}}


{{!-- new blog modal --}}
<div id="new-blog-modal" class="fixed hidden z-10 inset-0 m-auto mt-32 max-w-64 sm:max-w-sm md:max-w-xl lg:max-w-4xl overflow-y-auto">
	<div class="flex flex-col items-center justify-center">

		<div class="bg-neutral-700 w-full">
			<div class="flex justify-between items-center text-white">
				<h2 class="text-lg md:text-2xl p-3 space-grotesk">Post Blog</h2>
				<button id="n-close-btn" class="px-3 hover:text-neutral-900 font-bold">&times;</button>
			</div>
		</div>

		<form action="/api/blogs/newBlog" method="POST" class="px-2 py-3 bg-white w-full">
			<div class="mb-4">
				<label for="title" class="block text-sm font-medium text-neutral-700">Title</label>
				<input type="text" id="title" name="title" class="mt-1 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm">
			</div>
			
			<div class="mb-4">
				<label for="text" class="block text-sm font-medium text-neutral-700">Content</label>
				<textarea type="text" id="text" name="text" class="mt-1 h-32 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm"></textarea>
			</div>

			<div class="flex justify-between space-x-2">
				<button type="button" id="n-cancel-btn" class="font-bold py-2 px-4 bg-neutral-400 text-white hover:text-neutral-950" >Cancel</button>
				<button type="submit" id="post-blog-btn" class="font-bold py-2 px-4 bg-neutral-600 text-white hover:text-neutral-950" >Post</button>
			</div>

		</form>
	</div>
</div>

{{!-- edit blog modal --}}
<div id="edit-blog-modal" class="fixed hidden z-10 inset-0 m-auto mt-32 max-w-64 sm:max-w-sm md:max-w-xl lg:max-w-4xl overflow-y-auto">
	<div class="flex flex-col items-center justify-center">

		<div class="bg-neutral-700 w-full">
			<div class="flex justify-between items-center text-white">
				<h2 class="text-lg md:text-2xl p-3 space-grotesk">Edit Blog</h2>
				<button id="e-close-btn" class="px-3 hover:text-neutral-900 font-bold">&times;</button>
			</div>
		</div>

		<form class="px-2 py-3 bg-white w-full">
			<div class="mb-4">
				<label for="title" class="block text-sm font-medium text-neutral-700">Title</label>
				<input type="text" id="edit-title" name="title" class="mt-1 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm" value="{{title}}">
			</div>
			
			<div class="mb-4">
				<label for="text" class="block text-sm font-medium text-neutral-700">Content</label>
				<textarea type="text" id="edit-text" name="text" class="mt-1 h-32 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm">{{text}}</textarea>
			</div>

			<div class="flex justify-between space-x-2">
				<button type="button" id="e-cancel-btn" class="font-bold py-2 px-4 bg-neutral-400 text-white hover:text-neutral-950" >Cancel</button>
				<button type="submit" id="update-blog-btn" class="font-bold py-2 px-4 bg-neutral-600 text-white hover:text-neutral-950" data-blog-id="{{blog_id}}" >Update</button>
			</div>

		</form>
	</div>
</div>


<script src="/js/blogModals.js"></script>
<script src="/js/editBlog.js"></script>
