<ul>
	{{#each blogs as |blog|}}
		<li><a href="/blog/{{blog_id}}">{{title}}</a></li>
			<p>{{text}} </p>
			<p>Created: {{format_date createdAt}}</p>
			<p>Created By: {{user.username}}</p>
			<div>
				<h4>Comments:</h4>
				<ul>
					{{#each comments as |comment|}}
					<li>{{comment.comment}}
						<p>Created on <em>{{format_date comment.createdAt}}</em> by <em>{{comment.user.username}}</em></p>
					</li>
					{{/each}}
				</ul>
			</div>
	{{/each}}
</ul>